In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Tier5_logentries-export-2024-08-20.csv',low_memory = False)

In [3]:
# Columns to keep
columns_to_keep = ['DateTime', 'ID', 'LogBook ID', 'Latitude', 'Longitude', 'Ship Sightings']

# Drop columns except for the ones to keep
df = df[columns_to_keep]

In [7]:
# create a dataframe of usable data
df['usable'] = (df["Latitude"].notna() & df["Longitude"].notna() & df["Ship Sightings"].notna())
df_u = df[df['usable']==True].copy()

In [8]:
# convert 'Logbook ID' to string
ship_id = df_u['LogBook ID'].map(str)
# identify 
ship_names = ship_id.apply(lambda x : re.findall(r'\b[A-Z][a-z]+\b',x))

In [9]:
ship_names_flat = [item for sublist in ship_names for item in sublist]
unique_ships = list(pd.Series(ship_names_flat).unique()) 

stopwords = ['Bark', 'Ship',"St"]
for word in list(unique_ships):
    if word in stopwords:
        unique_ships.remove(word)
        
print(unique_ships)

['Abigail', 'Abraham', 'Barker', 'Addison', 'Adeline', 'Gibbs', 'Alaska', 'Albion', 'Alto', 'American', 'Arab', 'Arbella', 'Atlantic', 'Awashonks', 'Barclay', 'Barnstable', 'Bartholomew', 'Gosnold', 'Beaver', 'Benjamin', 'Rush', 'Bertha', 'Blackstone', 'Brandt', 'Brunswick', 'Comstock', 'Schooner', 'Cadmus', 'Cambria', 'Catalpa', 'Chariot', 'Charles', 'Drew', 'Phelps', 'Morgan', 'Henry', 'Clarice', 'Clarkson', 'Clifford', 'Wayne', 'Columbia', 'Coronet', 'Courier', 'Courser', 'Desdemona', 'Draco', 'Eagle', 'Emerald', 'Eunice', 'Adams', 'Brig', 'Express', 'Fabius', 'Fortune', 'Franklin', 'Gage', 'Phillips', 'General', 'Jackson', 'George', 'Clinton', 'Gideon', 'Howland', 'Good', 'Return', 'Governor', 'Carver', 'Greyhound', 'Harrison', 'Kneeland', 'Hercules', 'Hibernia', 'Homer', 'India', 'Isabella', 'Israel', 'Java', 'John', 'Dawson', 'Lafayette', 'Lancer', 'Leonidas', 'Lexington', 'Margaret', 'Maria', 'Martha', 'Mary', 'Frazier', 'Mitchell', 'Matilda', 'Sears', 'Mechanic', 'Medford', 'Mexico', 'Milo', 'Moctezuma', 'Mohawk', 'Montano', 'Navy', 'Nile', 'Ocean', 'Octavia', 'Orion', 'Orozimbo', 'Perry', 'Phoebe', 'Ann', 'Pioneer', 'Roman', 'Sally', 'Anne', 'Seine', 'Sarah', 'Hale', 'Sea', 'Queen', 'Shaw', 'Perkins', 'Sloop', 'Shylock', 'Sophia', 'Splendid', 'Peter', 'Statira', 'Stephania', 'Swift', 'Thomas', 'Winslow', 'Timoleon', 'Trident', 'Vesper', 'Vineyard', 'Walter', 'Irving', 'Washington', 'William', 'Wirt', 'Xantho', 'Yeoman', 'Young', 'Phenix']

In [12]:
#copy dataframe
df_u = df_u.copy()
# find maches in ship sightings from unique ships
df_u['matches'] = np.where(df_u['Ship Sightings'].str.contains('|'.join(unique_ships)), 'match', 'not match')
# isolate entries where there is no match within the dataset
df_nm = df_u[df_u['matches'] == 'not match'].copy()

In [25]:
# regex pattern to identify capitalized words as well as variations of the word Capt.
pattern = r"\b[A-Z][a-zA-Z]+\b|\bCapt\.\b|\bCapt\b|\bCaptain\b|\bCap\b"

# mark variations of "captain" to skip the word immediately following as to not confuse captain name with ship name
skip_next_trigger_words = {"Capt", "Capt.", "Captain", "Cap"}

# Words to skip explicitly (common capitalized words that show up in dataset that are unlikely to be ship names)
skip_words = {"Bark","Ship","Saw","Several","One","Spoke","Gammed"}


def clean_extracted(text):
    words = re.findall(pattern, text)  # Extract all words
    filtered_words = []
    skip_next = False

    for word in words:
        if skip_next:
            skip_next = False
            continue
        if word in skip_next_trigger_words: # skip words after captain
            skip_next = True
        elif word not in skip_words: # append words not in skip words
            filtered_words.append(word)

    return " ".join(filtered_words)  # Convert list to a single string before returning

# Apply function to extract ship names
df_nm.loc[: , "Extracted Ships"] = df_nm["Ship Sightings"].astype(str).apply(clean_extracted)

# Remove rows where Extracted Ships is empty
df_filtered = df_nm[df_nm["Extracted Ships"].str.strip() != ""]

# Display filtered DataFrame
df_filtered.head(25)

,DateTime,ID,LogBook ID,Latitude,Longitude,Ship Sightings,usable,matches,Extracted Ships
1036,1847-12-02 12:00:00,19631.0,Abigail (ship) 1847-1850,17.050000,-25.466667,"""the Bark (Hope) in company""",True,not match,Hope
1037,1847-12-03 12:00:00,19632.0,Abigail (ship) 1847-1850,16.633333,-26.066667,"""the Bark (Hope) in company""",True,not match,Hope
1040,1847-12-06 12:00:00,19646.0,Abigail (ship) 1847-1850,14.866667,-24.733333,"""in company with the Bark (Hope)""",True,not match,Hope
1236,1848-06-29 12:00:00,20275.0,Abigail (ship) 1847-1850,30.806667,166.400000,"""the Capt of the Jappan (Japan) of Nantucket.....",True,not match,Japan Nantucket
1259,1848-07-22 12:00:00,20336.0,Abigail (ship) 1847-1850,31.250000,164.833333,"""spoke the ship Howard of Nantuckett Capt Bunk...",True,not match,Howard Nantuckett
1263,1848-07-26 12:00:00,20344.0,Abigail (ship) 1847-1850,30.458333,166.758333,"""the Narragansett of Nantuckett passed us""",True,not match,Narragansett Nantuckett
1267,1848-07-30 12:00:00,20372.0,Abigail (ship) 1847-1850,30.655556,169.488889,"""in company with the Narragansett""",True,not match,Narragansett
1269,1848-08-01 12:00:00,20377.0,Abigail (ship) 1847-1850,30.861111,170.827778,"""in company with the Narragansett""",True,not match,Narragansett
1270,1848-08-02 12:00:00,20379.0,Abigail (ship) 1847-1850,30.963889,171.497222,"""gamed with N (Narragansett)""",True,not match,Narragansett
1271,1848-08-03 12:00:00,20381.0,Abigail (ship) 1847-1850,31.066667,172.166667,"""in company with the N (Narragansett)""",True,not match,Narragansett
1273,1848-08-05 12:00:00,20387.0,Abigail (ship) 1847-1850,31.166667,172.333333,"""the N (Narragansett) still in sight""",True,not match,Narragansett
1274,1848-08-06 12:00:00,20399.0,Abigail (ship) 1847-1850,31.100000,172.222222,"""spoke the Milton 11 months 450 Capt. Smith""",True,not match,Milton
1290,1848-08-22 12:00:00,20874.0,Abigail (ship) 1847-1850,33.450000,164.566667,"""spoke the Narragansett""",True,not match,Narragansett
1301,1848-09-02 12:00:00,20934.0,Abigail (ship) 1847-1850,31.016667,174.350000,"""spoke and gammed with the N (Narragansett)""",True,not match,Narragansett
1302,1848-09-03 12:00:00,20937.0,Abigail (ship) 1847-1850,30.983333,175.000000,"""the Narragansett still in sight""",True,not match,Narragansett
1327,1848-09-28 12:00:00,21291.0,Abigail (ship) 1847-1850,31.162500,170.762500,"""spoke the ship Montta cella (Monticello) of N...",True,not match,Montta Monticello Nantucket
1403,1849-01-02 12:00:00,22430.0,Abigail (ship) 1847-1850,-0.633333,-169.966667,"""went on board of the Alpha""",True,not match,Alpha
1405,1849-01-04 12:00:00,22434.0,Abigail (ship) 1847-1850,-0.380000,-171.883333,"""in company with the Alpha""",True,not match,Alpha
1407,1849-01-06 12:00:00,22437.0,Abigail (ship) 1847-1850,-0.126667,-172.516667,"""Capt Folger (Alpha) came on board""",True,not match,Alpha
1409,1849-01-08 12:00:00,22442.0,Abigail (ship) 1847-1850,0.008333,-173.666667,Alpha,True,not match,Alpha
1410,1849-01-09 12:00:00,22477.0,Abigail (ship) 1847-1850,0.016667,-174.500000,"""Capt. Folger (of Alpha) came on board""",True,not match,Alpha
1411,1849-01-10 12:00:00,22478.0,Abigail (ship) 1847-1850,0.100000,-175.333333,"""Capt. Folger (Alpha) came on board""",True,not match,Alpha
1414,1849-01-13 12:00:00,22481.0,Abigail (ship) 1847-1850,-1.433333,-178.097917,"""in company with the Alpha""",True,not match,Alpha
1415,1849-01-14 12:00:00,22482.0,Abigail (ship) 1847-1850,-3.233333,-178.495833,"""in company (Alpha)""",True,not match,Alpha
1416,1849-01-15 12:00:00,22483.0,Abigail (ship) 1847-1850,-3.823333,-178.893750,"""in company with Alpha""",True,not match,Alpha

In [35]:
# Get value counts for each ship
value_counts = df_filtered['Extracted Ships'].value_counts()

# Filter ships mentioned more than 4 times
ships4 = value_counts[value_counts > 4]

# Print each ship and its count
for ship, count in ships4.items():
    print(f"{ship}: {count}")

# Print the total number of ships matching the filter
print(f"\nTotal ships mentioned more than 4 times: {len(ships4)}")

Lucas: 175
Maine: 33
BK Platina: 32
Milton: 30
Liverpool New Bedford: 21
BK Islander: 20
The Uncas: 18
Pacific: 18
Alpha: 16
London Packet: 16
China: 15
Logan: 14
Cherokee: 14
The Spartan: 13
BK Maine: 13
Liverpool: 13
Elizabeth: 12
Kathleen: 12
The Iris: 12
Narragansett: 12
Mercury New Bedford: 11
Mercator: 11
The Nickerson: 11
Alfred New Bedford: 11
Lucas Cicero: 11
Two: 11
Phoenix: 10
The Holmes: 10
BK Derwent Hunter: 10
Congress: 10
Gay Head: 10
Falcon: 10
Petrel: 10
The Christopher Mitchel: 10
Alexander Coffin: 10
Zephyr: 9
Lady Blackwood: 9
The Ganges: 9
Hope: 9
Edward New Bedford: 9
The Benj Tucker: 9
Milwood New Bedford: 9
Origon: 9
Griffin: 9
Lima: 8
Selma: 8
Wanderer: 8
Morning Star: 8
Elizabeth London: 8
Noble: 8
Platina: 8
Solon Mattapoisett: 8
Otranto: 8
Friendship: 8
Cortes: 8
Millwood: 8
Mariner: 8
Parker Cook Provincetown: 7
Florida: 7
Phocion: 7
Barque Kathleen: 7
Hope New Bedford: 7
Waverly New Bedford: 7
Herald: 7
Rose: 7
Simmons: 7
Columbus: 7
Andrew Hicks: 7
Draper: 7
Warsaw New London: 7
The Antarctic: 7
Braganza New Bedford: 7
Canton Packet: 7
Louisa: 6
Palladium: 6
Three: 6
Congress New Bedford: 6
The Mountain Spring: 6
Champion New Bedford: 6
Canada New Bedford: 6
Cicero New Bedford: 6
Harriet Freetown: 6
Gem Provincetown: 6
Marcella: 6
Commodore Rogers: 6
Omega Nantucket: 6
New Bedford: 6
Marsella: 6
SW: 6
BK Andrew Hicks: 6
Hector: 6
Boston: 6
London Packet New Bedford: 6
Lucas Gold Hunter: 6
Commodore Rodgers: 6
Millwood New Bedford: 6
Carter: 6
Caroline London: 6
Minerva New Bedford: 6
Water Witch London: 6
Constitution Nantucket: 6
Stafford: 6
The Ionia: 6
Izette Salem: 5
Hydaspe: 5
Miles Warren: 5
Scotland Nantucket: 5
Lalla Rookh New Bedford: 5
Averick: 5
NE: 5
Rajah Westport: 5
President: 5
Ganges Nantucket: 5
Gold Hunter: 5
The New England: 5
Alabama Nantucket: 5
NW: 5
The Elizabeth: 5
Metacom New Bedford: 5
Barque Emma: 5
Tobacco Plant: 5
Sparks: 5
The Gypsy: 5
Euphrates New Bedford: 5
Planter Nantucket: 5
Marcus Fairhaven: 5
Canton New Bedford: 5
Golconda New Bedford: 5
Zenas Coffin: 5
Ganges Bristol: 5
Armata New London: 5
Pantheon: 5
Newton New Bedford: 5
Congress Nantucket: 5
Attleboro: 5
Desdamonia: 5
Milwood: 5
Midas New Bedford: 5
AR Tucker: 5
Mercury: 5
Acasta: 5
Japan Nantucket: 5
Cherokee New Bedford: 5
Lucretia: 5
Huntress New Bedford: 5
The America: 5
Brunette: 5
Janus: 5
Lewis Bruce Provincetown: 5
The City New Bedford: 5
The Ganges Nantucket: 5
Milton New Bedford: 5
Jane Howes Provincetown: 5
The Roseo: 5
Louisa Provincetown: 5
Napoleon Nantucket: 5
Rousseau New Bedford: 5

Total ships mentioned more than 4 times: 157

In [25]:
# Save the unique ship names to a text file
with open("unique_ships.txt", "w") as file:
    for ship in ships4:
        file.write(ship + "\n")